<!-- Archivo: registro.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
	</script>
    <link rel="stylesheet" href="../public/CSS/registrar.css">
	<title>Registro</title>
</head>	
<body>
	<!-- Navbar -->
	<iframe src="../views/navbar.html" frameborder="0" width="100%" height="60px"></iframe>
	<!-- Navbar -->

	<div class="container">
		<div class="row" style="padding-top: 100px;">
			<div class="col"></div> <!-- Ponemos un col al inicio y final para que el formulario quede centrado -->
			<div class="col">
				<div><h4>Registrar un administrador</h4></div>
				<!-- Formulario de registro -->
				<form action="/registro" method="POST"> <!-- Modificado el atributo action y el método a POST -->
				<div class="mb-2">
					<label for="email" class="form-label">E-mail</label>
					<input type="email" class="form-control" name="email" required> <!-- Agregado el atributo 'required' -->
				</div>
				<div class="mb-2">
					<label for="password" class="form-label">Contraseña</label>
					<input type="password" class="form-control" name="password" required> <!-- Agregado el atributo 'required' -->
				</div>
				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-primary">Registrarse</button> <!-- Cambiado de <a> a <button> y atributos -->
				</div>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<footer class="bottom">
		<iframe src="footer.html" frameborder="0" width="100%" height="30" style="bottom: 50px; margin-bottom: -6px;"></iframe>
	</footer>
</body>
</html>
