<div class="content-container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-top: 30px;">
            <h1 style="padding-top: 20px; color: rgb(255, 255, 255); padding-left: 14px;">Indice de administrador
                </Indice>
            </h1>
            <div class="d-grid gap-2">
                <a href="/events/add" class="btn btn-outline-warning" type="button">Crear evento</a>
                <a href="/events/administration" class="btn btn-outline-warning" type="button">Administrar eventos</a>
                <a href="/events/admin-participant" class="btn btn-outline-warning" type="button">Administrar participantes</a>
                <a href="" class="btn btn-outline-warning" type="button">Proximamente...</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>