      <div class="container">
            <div class="row">
                <h1 id="miH2">Eventos</h1>
                <table>
                    <!-- Posteriormente se autorrellenara con js, mientras tanto se hace manualmente-->
                    <thead>
                      <tr>
                        <th>ID evento</th>
                        <th>Nombre del Evento</th>
                        <th>Fecha</th>
                        <th>Ver evento</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>1era Fase</td>
                        <td>11/09/1973</td>
                        <td> <a href="verevento.html"> Ver Evento</a></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>1era Fase</td>
                        <td>11/09/1973</td>
                        <td> <a href="verevento.html"> Ver Evento</a></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>1era Fase</td>
                        <td>11/09/1973</td>
                        <td> <a href="verevento.html"> Ver Evento</a></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>1era Fase</td>
                        <td>11/09/1973</td>
                        <td> <a href="verevento.html"> Ver Evento</a></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>1era Fase</td>
                        <td>11/09/1973</td>
                        <td> <a href="verevento.html"> Ver Evento</a></td>
                      </tr>
                    </tbody>
                  </table>
          </div>
        </div> 
        