<h1 id="titulo">Bienvenidos al Torneo de Cell!</h1>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="img/FINCHE.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2 id="texto">Finche la movie</h2>
          <p id="texto2">CONOCIDO PARTICIPANTE DE LAS EDICIONES  ANTERIORES DEL TORNEO DE CELL CHILENO QUE POSTULARA PARA ESTA NUEVA EDICION. SE DESEMPENIA COMO CANTANTE DE MUSICA URBANA CON TEMAS DESTACADOS COMO "PERRO BOMBA" O "RIP TORNEO CELLL"</p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="img/LADCOBRA.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2 id="texto">LadCobra</h2>
          <p id="texto2">COFUNDADOR DEL TORNEO DE CELL. PARTICIPO EN SUS PRIMERAS EDICIONES JUNTO A HUEVITO REY EN EL ANIO 2015 Y 2016. TAMBIEN ERA CONOCIDO POR SER UNO DE LOS MEJORES JUGADORES DE MORTAL KOMBAT DEL PAIS. AHORA ADMINISTRA NUESTRO TORNEO DE CELL DESDE EL MAS ALLA.</p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="img/HUEVOREY.JPG" alt="Generic placeholder image" width="140" height="140">
          <h2 id="texto">HuevitoRey</h2>
          <p id="texto2">FUNDADOR DEL TORNEO DE CELL. AUTOPROCLAMADO DIOS CHILENO, MUSICO PROFESIONAL Y YOUTUBER. COMPUSO LOS FAMOSOS TEMAS "ESTOY GUATON" Y "EL DINERO Y EL PODER". SE HA CRUZADO EN YOUTUBE CON LA MAYORIA DE PARTICIPANTES EN LA HISTORIA DEL TORNEO.</p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 id="texto" class="featurette-heading">Los participantes ya estan listos para tus votaciones!</h2>
          <p id="texto" class="lead">Los participantes se preparan para una nueva edición del Torneo de Cell, competiran con todas sus energias para poder conseguir tu voto que sera el que decide al ganador de un gran premio.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="img/TORNEO_CELL_JPG_1.jpg" data-holder-rendered="true">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>