html{
    height: 100%;
}
body{
    background: url('../img/564835.jpg') rgba(0,0,0,0.8);
    background-size:100% 100%;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: space;
}

.d-grid a {
    margin-top: 20px;
}
footer{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}






