html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: url("../img/564835.jpg") rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
.form-label {
  color: white;
}
h4 {
  color: white;
}
.form-check {
  color: white;
}
div.text-center p {
  color: #ffffff;
}
.d-grid{
    padding-top: 15px;
}













