<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col"></div>
        <div class="col">
            <div>
                <h4>Vota por tu participante!</h4>
            </div>
            <form action="#">
                <div class="mb-2">
                    <div id="carouselExampleCaptions" class="carousel slide">
                        <div class="carousel-indicators">
                            {{#each event.participants}}
                                <button type="button" data-bs-target="#carouselExampleCaptions" 
                                        data-bs-slide-to="{{@index}}" {{#if @first}}class="active" aria-current="true"{{/if}} 
                                        aria-label="Slide {{@index}}"></button>
                            {{/each}}
                        </div>
                        <div class="carousel-inner">
                            {{#each event.participants}}
                                <div class="carousel-item {{#if @first}}active{{/if}}">
                                    <img src="{{this.imageUrl}}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{this.name}}</h5>
                                        <div class="mb-4 form-check" style="padding-top: 100;">
                                            <input type="checkbox" name="connected" class="form-check-input">
                                            <label for="connected" class="form-check-label">Seleccionar participante</label>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">VOTAR</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
