<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-3">
			<div class="card">
				<img src="../img/patrick-bateman.jpg" class="card-img-top" alt="...">
				<div class="card-body text-center">
					<h5 class="card-title">ElAdmin</h5>
					<p class="card-text">Entra como administrador si eres parte de la organización!</p>
					<a href="/users/admin/signin" class="btn btn-primary">Ingresar como admin</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="../img/huaso.jpg" class="card-img-top" alt="...">
				<div class="card-body text-center">
					<h5 class="card-title">Invitado</h5>
					<p class="card-text">Entra como invitado para votar por tu participante favorito!</p>
					<a href="votar.html" class="btn btn-primary">Ingresar de invitado</a>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>