<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar un administrador</title>
    <link rel="stylesheet" href="../CSS/registrar.css">
</head>

<body>
    <div class="container">
        <div class="row" style="padding-top: 100px;">
            <div class="col"></div>
            <div class="col">
                <div>
                    <h4>Registrar un administrador</h4>
                </div>
                <form action="/users/signup" method="POST">
                    <div class="mb-2">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" name="email" required value="{{email}}">
                    </div>
                    <div class="mb-2">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password" required value="{{password}}">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>

</html>
